<div class="navbar navbar-fixed-bottom">
      <div class="navbar-inner">
        <div class="container">
          <p class="footer-text">Copyright 2012 - Nine Collective and Friends - Textures and Images used are from <a href="bdcraft.net">BDCraft</a></p>
		</div>
	  </div>
	</div>