    <div class="container">

      <h1>Castle Plans</h1>
      <p>This is the build guide for the awesome mega-build Taneth on the Reddit PVE Server.</p>
	  
	  <h4>Materials</h4>
	  <p>The castle should be mainly constructed from Smooth Stone and Stone Bricks - Use Cobble in random places to add a "patchy" feel to the walls and towers.</p>
	  <p>Outer wall turrets/Towers will have lava flowing inside the 3 wide portion that is exposed inside and outside the wall, to achieve this, stack stone brick stairs with stone brick half slabs in the middle.</p>
	  
	  <h2><a href="CastleFloorPlan.htm" target="_blank">Castle Floor Plan</a></h2>
	  
	  <h2><a href="WizardTower.pdf" target="_blank">Wizard Tower Build Out</a></h2>
	  
	  <hr/>
	  
	  <h2>Taneth Castle Blueprints</h2>
	  <p>Blueprints below for various things</p>
		
		
		
		<div class="accordion-group">
		  <div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
			  3 Wide Inner Castle Wall
			</a>
		  </div>
		  <div id="collapseOne" class="accordion-body collapse" style="height: 0px; ">
			<div class="accordion-inner">
			  <table class="blueprint">
				<tbody>
					<tr>
						<td class="sbrick"></td>
						<td class="sbrick"></td>
						<td class="sbrick"></td>
					</tr>
					<tr>
						<td class="stone"></td>
						<td class="gpane"></td>
						<td class="stone"></td>
					</tr>
					<tr>
						<td class="stone"></td>
						<td class="gpane"></td>
						<td class="stone"></td>
					</tr>
					<tr>
						<td class="stone"></td>
						<td class="sbrick"></td>
						<td class="stone"></td>
					</tr>
					<tr>
						<td class="stone"></td>
						<td class="gpane"></td>
						<td class="stone"></td>
					</tr>
					<tr>
						<td class="stone"></td>
						<td class="gpane"></td>
						<td class="stone"></td>
					</tr>
					<tr>
						<td class="stone"></td>
						<td class="gpane"></td>
						<td class="stone"></td>
					</tr>
					<tr>
						<td class="sbrick"></td>
						<td class="sbrick"></td>
						<td class="sbrick"></td>
					</tr>
					<tr>
						<td class="stone"></td>
						<td class="gpane"></td>
						<td class="stone"></td>
					</tr>
					<tr>
						<td class="stone"></td>
						<td class="gpane"></td>
						<td class="stone"></td>
					</tr>
					<tr>
						<td class="stone"></td>
						<td class="sbrick"></td>
						<td class="stone"></td>
					</tr>
					<tr>
						<td class="stone"></td>
						<td class="gpane"></td>
						<td class="stone"></td>
					</tr>
					<tr>
						<td class="stone"></td>
						<td class="gpane"></td>
						<td class="stone"></td>
					</tr>
					<tr>
						<td class="stone"></td>
						<td class="gpane"></td>
						<td class="stone"></td>
					</tr>
					<tr>
						<td class="sbrick"></td>
						<td class="sbrick"></td>
						<td class="sbrick"></td>
					</tr>
				</tbody>
			</table>
			</div>
		  </div>
		</div>
		
		<div class="accordion-group">
		  <div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseTwo">
			  4 Wide Inner Castle Wall 0 Back Wall
			</a>
		  </div>
		  <div id="collapseTwo" class="accordion-body collapse" style="height: 0px; ">
			<div class="accordion-inner">
			  <table class="blueprint">
				<tbody>
					<tr>
						<td class="sbrick"></td>
						<td class="sbrick"></td>
						<td class="sbrick"></td>
						<td class="sbrick"></td>
					</tr>
					<tr>
						<td class="stone"></td>
						<td class="gpane"></td>
						<td class="gpane"></td>
						<td class="stone"></td>
					</tr>
					<tr>
						<td class="stone"></td>
						<td class="gpane"></td>
						<td class="gpane"></td>
						<td class="stone"></td>
					</tr>
					<tr>
						<td class="stone"></td>
						<td class="sbrick"></td>
						<td class="sbrick"></td>
						<td class="stone"></td>
					</tr>
					<tr>
						<td class="stone"></td>
						<td class="gpane"></td>
						<td class="gpane"></td>
						<td class="stone"></td>
					</tr>
					<tr>
						<td class="stone"></td>
						<td class="gpane"></td>
						<td class="gpane"></td>
						<td class="stone"></td>
					</tr>
					<tr>
						<td class="stone"></td>
						<td class="gpane"></td>
						<td class="gpane"></td>
						<td class="stone"></td>
					</tr>
					<tr>
						<td class="sbrick"></td>
						<td class="sbrick"></td>
						<td class="sbrick"></td>
						<td class="sbrick"></td>
					</tr>
					<tr>
						<td class="stone"></td>
						<td class="gpane"></td>
						<td class="gpane"></td>
						<td class="stone"></td>
					</tr>
					<tr>
						<td class="stone"></td>
						<td class="gpane"></td>
						<td class="gpane"></td>
						<td class="stone"></td>
					</tr>
					<tr>
						<td class="stone"></td>
						<td class="sbrick"></td>
						<td class="sbrick"></td>
						<td class="stone"></td>
					</tr>
					<tr>
						<td class="stone"></td>
						<td class="gpane"></td>
						<td class="gpane"></td>
						<td class="stone"></td>
					</tr>
					<tr>
						<td class="stone"></td>
						<td class="gpane"></td>
						<td class="gpane"></td>
						<td class="stone"></td>
					</tr>
					<tr>
						<td class="stone"></td>
						<td class="gpane"></td>
						<td class="gpane"></td>
						<td class="stone"></td>
					</tr>
					<tr>
						<td class="sbrick"></td>
						<td class="sbrick"></td>
						<td class="sbrick"></td>
						<td class="sbrick"></td>
					</tr>
				</tbody>
			</table>
			</div>
		  </div>
		</div>
		
	
		
    </div> <!-- /container -->

   
