   <div class="container">
		<img src="images/wheat_farm/plot.jpg">
		<img src="images/wheat_farm/foundation.jpg">
		<img src="images/wheat_farm/walls.jpg">
		<img src="images/wheat_farm/furnishings.jpg">
	</div>
