<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>mc.NineCollective.com</title>
    <link href="../styles/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../styles/bootstrap-responsive.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="../scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="../scripts/knockout.2.1.0.js"></script>
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a href="#" class="logo">mc.NineCollective.com</a>
            </div>
        </div>
    </div>
    <div class="intro">
        <div class="container">
            <div class="row-fluid">
                <div class="span6">
                    <img src="../images/stewtown-3000.jpg" width="100%" />
                </div>
                <div class="span6">
                    <h1>Howdy!</h1>
                    <p class="lead">Welcome to NineCollective's MineCraft headquarters! Here, you can connect NineCollective players, browse our growing library of blueprints, or checkout our company map.</p>
                    <div class="row-fluid">
                        <div class="span12">
                            <form class="well">
                            <p>Wanna help on our Reddit PVE project?</p>
                            <div class="input-append">
                                <input type="email" class="" name="email" placeholder="Your Email please..." />
                                <button type="submit" class="btn">Sign Up</button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="subnav">
            <ul class="nav nav-pills">
                <li><a href="#" class="active">NC Players</a></li>
                <li class="divider"></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Blueprints <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <a href="#">Castle</a> <a href="#">Village</a>
                    </ul>
                    <li><a href="#">Reddit PVE Project</a></li>
                <li><a href="#">View Company Map</a></li>
            </ul>
        </div>
        <!--PVE Page-->
        <div class="row-fluid">
            <div class="span12">
                <div class="page-header">
                    <h1>Reddit PVE Project: Taneth</h1>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span3">
                    <div class="well">
                        <ul class="nav nav-list">
                            <li class="active"><a href="#"></i>What is Taneth?</a> </li>
                            <li><a href="#">I wanna Help</a> </li>
                            <li class="divider"></li>
                            <li><a href="#">Taneth Lore</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--NC players-->
        <div class="row-fluid">
            <div class="page-header">
                <h1>9C Players</h1>
                <p class="muted">Meet the NineCollective team!</p>
            </div>
        </div>
    </div>
</body>
</html>
